
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    match /challenges/{challengeId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }

    match /books/{bookId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }

    match /discussions/{discussionId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }
    
    match /forumPosts/{postId} {
      allow read, create: if isSignedIn();
      allow update(likes): if isSignedIn();
      allow update, delete: if isOwner(resource.data.authorId) || isAdmin();

      match /comments/{commentId} {
        allow read, create: if isSignedIn();
        allow update, delete: if isOwner(resource.data.authorId) || isAdmin();
      }
    }

    match /roles_admin/{adminId} {
      allow get: if isSignedIn();
      allow list: if isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /users/{userId} {
      allow get, list: if isSignedIn();
      allow create: if isOwner(userId);
      allow update: if isOwner(userId) || isAdmin();
      allow delete: if isAdmin();

      match /userChallenges/{userChallengeId} {
        allow get, list: if isOwner(userId) || isAdmin();
        allow create, update: if isOwner(userId);
        allow delete: if isAdmin();
      }

      match /notifications/{notificationId} {
        allow get, list, update: if isOwner(userId);
        allow create: if isSignedIn() || isAdmin();
        allow delete: if isOwner(userId) || isAdmin();
      }

      match /readingProgress/{userReadingProgressId} {
        allow get, list, create, update: if isOwner(userId);
        allow delete: if isOwner(userId) || isAdmin();
      }
    }
  }
}

    